$background: #2E1F27;
$secondary: #854D27;
$tertiary: #DD7230;
$quaternary: #F4C95D;
$textcol: #E7E393;
$transparent: #ffffff00;

html {
   background-color: $background;
   color: $textcol;
   display: flex;
   justify-content: center;

   //Below is the font families I want to use so they're here for me to copy.
   // font-family: "Righteous", cursive;
   // font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 1rem 0;
   margin-top: 0.5rem;
   font-family: "Roboto", sans-serif;
}

header {
   h1 {
      color: $secondary;
      font-size: 4.5em;
      display: flex;
      justify-content: center;
      font-weight: bold;
      background-image: url("https://as2.ftcdn.net/v2/jpg/04/46/59/73/1000_F_446597392_IouFARqqxFSEzCJwyRc6RXogz9ZxQNsQ.jpg");
   }

   nav {
      font-family: "Righteous", cursive;

      ul {
         display: flex;
         justify-content: space-evenly;
         flex-direction: row;

         li a {
            font-size: 2rem;
            margin: 1em;
            padding: 0.75em 0.75em;
            transition: a 4000ms;
            display: block;
            color: $secondary;
            //Setting this here and not below makes it so this is already set to the a link and doesn't need to transition in with the colour making it look funky.
            box-shadow: 0 0 12px 12px $background inset;
         }

         li a:hover {
            color: $quaternary;
            text-decoration: underline solid currentColor;
            transition: all 0.75s ease;
            background-color: $secondary;
            // box-shadow: 0 0 8px 8px primary inset; I've left it down here incase I need to remember what I meant with the comment above.
         }
      }
   }
}

body {
   font-size: 18px;

   h2 {
      font-size: 3.25em;
   }

   main {
      margin: 0 5em;
      border-top: solid 3px $quaternary;
   }

   a {
      color: $quaternary;
   }

   a:hover {
      color: $secondary;
      transition: all 300ms;
   }

   .main-content p::first-letter {
      initial-letter: 2 1; //This sets the initial(first letter to be as big as <x lines> then <offset by x lines (setting it to 3 for example will make it start on the third line)>)
   }
}