html {
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;

   // font-family: "Righteous", cursive;
   // font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 1rem 0;
   margin-top: 0.5rem;
   font-family: "Roboto", sans-serif;
}

header {
   h1 {
      color: #6d5044;
      font-size: 4.5em;
      display: flex;
      justify-content: center;
      font-weight: bold;
   }

   nav {
      font-family: "Righteous", cursive;

      ul {
         display: flex;
         justify-content: space-evenly;
         flex-direction: row;

         li a {
            font-size: 1.5rem;
            margin: 3em;
            padding: 0.75em 0.75em;
            transition: a 4500ms;
            display: block;
            color: #ce6e48;
            //Setting this here and not below makes it so this is already set to the a link and doesn't need to transition in with the colour making it look funky.
            box-shadow: 0 0 8px 8px black inset;
         }

         li a:hover {
            color: rgb(252, 124, 19);
            text-decoration: underline solid currentColor;
            transition: all 0.75s ease;
            background-color: rgb(116, 38, 14);
            // box-shadow: 0 0 8px 8px black inset; I've left it down here incase I need to remember what I meant with the comment above.
         }
      }
   }
}

body {
   font-size: 16px;

   h2 {
      font-size: 3.25em;
   }

   main {
      margin: 0 5em;
      border-top: solid 3px #552d076b;
   }
}
